@import "../../_css/common";

<<<<<<< HEAD
.checkout {
  margin: 50px 0;
  width: 100%;

  @include small-break {
    margin-top: 30px;
  }
=======
.checkoutPage {
  margin-bottom: var(--block-padding);
>>>>>>> 2ad312393c380ac1bebb34b2fed6d8ee7538bde1
}
