@use './queries.scss' as *;
@use './colors.scss' as *;
@use './type.scss' as *;
@import "./theme.scss";

:root {
  --base: 24px;
  --font-body: 'Georgia', serif; 
  --font-jost: 'Jost', sans-serif; 

  --gutter-h: 90px;
  --block-padding: 80px; // Reduced block padding for desktop

  @include large-break {
    --gutter-h: 94px;
    --block-padding: 60px; // Further reduce for larger screens
  } 

  @include mid-break {
    --gutter-h: 24px;
    --block-padding: 40px; // Adjust for mid-sized screens
  }
}

* {
  box-sizing: border-box;
}

html {
  @extend %body; 
  background: var(--theme-bg);
  -webkit-font-smoothing: antialiased;
  opacity: 0;

  &[data-theme='dark'],
  &[data-theme='light'] {
    opacity: initial;
  }
}

html,
body,
#app {
  height: 100%;
}

body {
  font-family: var(--font-body); // Use Georgia for body font
  margin: 0;
  padding: 0;
  color: var(--color-dark-500);

  display: flex;
  flex-flow: column;
}

.main {
  flex: 1 1 auto;
  background-color: rgba(141, 246, 246, 0.895);
  padding: var(--block-padding); // Apply adjusted padding
}

::selection {
  background: var(--color-dark-500);
  color: var(--color-base-800);
}

::-moz-selection {
  background: var(--color-dark-50);
  color: var(--color-base-800);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-body); // Ensure headings use Georgia font
  @extend %h1; // Ensure %h1 is defined in your imported files
}

h1, h2, h3, h4, h5, h6 {
  font-size: large;
  line-height: 1.2; 
}

p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: var(--color-dark-500);
  text-decoration: none;

  &:focus {
    opacity: 0.8;
    outline: none;
  }

  &:active {
    opacity: 0.7;
    outline: none;
  }
}

svg {
  vertical-align: middle;
}
