@import '../../_css/common';

.confirmationPage {
<<<<<<< HEAD
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  p {
    margin-top: 16px;
  }
=======
  margin-bottom: var(--block-padding);
>>>>>>> 2ad312393c380ac1bebb34b2fed6d8ee7538bde1
}
