@import "../../../_css/common";

.form {
  margin-bottom: var(--base);
  display: flex;
  flex-direction: column;
<<<<<<< HEAD
  gap: 24px;
  align-items: flex-start;
  width: 100%;
  margin-top: 30px;
}

.submit {
  width: 100%;
=======
  gap: calc(var(--base) / 2);
  align-items: flex-start;
  width: 66.66%;

  @include mid-break {
    width: 100%;
  }
}

.submit {
  margin-top: calc(var(--base) / 2);
>>>>>>> 2ad312393c380ac1bebb34b2fed6d8ee7538bde1
}

.message {
  margin-bottom: var(--base);
}
