@use '../../../_css/queries.scss' as *;

.card {
  position: relative;
  border: solid 1px black;
  border-radius: 6px;
  height: 360px;
  width: 100%;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.title {
  border-radius: 10px;
  padding: 16px;
  width: 100%;
  text-align: center;
  background-color: white;
<<<<<<< HEAD
=======
}

.image {
  height: 100%;
>>>>>>> d343c9eed293f4e1db86c9904c1c68e365ed849a
}